In [1]:
#this is my first python session

In [2]:
"""this
is
my 
first 
python 
session"""

'this\nis\nmy \nfirst \npython \nsession'

In [3]:
1+2

3

In [4]:
hvgjhbkjlml;jkb

NameError: name 'hvgjhbkjlml' is not defined

In [ ]:
print('Bilal')

In [5]:
a = 10

In [6]:
a

10

In [7]:
type(a)

int

In [8]:
b = 'fkfkfk'

In [9]:
type(b)

str

In [10]:
c = 9.7887676

In [11]:
c

9.7887676

In [12]:
type(c)

float

In [13]:
a,b = 23,"fghjhgfffff"

In [14]:
print(a,b)

23 fghjhgfffff

In [15]:
a,b

(23, 'fghjhgfffff')

In [16]:
type(a,b)

TypeError: type() takes 1 or 3 arguments

In [17]:
type(a)

int

In [18]:
type(b)

str

In [19]:
2a = 78

SyntaxError: invalid syntax (1557463484.py, line 1)

In [20]:
a = 78

In [21]:
a

78

In [22]:
_b = "67788888"

In [23]:
_b

'67788888'

In [24]:
print(_b)

67788888

In [25]:
c& = "fghhj"

SyntaxError: invalid syntax (3172793895.py, line 1)

In [26]:
c = "fghhj"

In [27]:
print(c)

fghhj

In [28]:
b = True
c = False

In [29]:
type(b)

bool

In [30]:
type(c)

bool

In [31]:
print(True+True+True+False+True)

4

In [32]:
print(False-True+True)

0

In [33]:
#True is 1
#False is 0

In [34]:
True/False

ZeroDivisionError: division by zero

In [35]:
True*False

0

In [36]:
n = 45+6j

In [37]:
type(n)

complex

In [38]:
n.real

45.0

In [39]:
n.imag

6.0

In [40]:
n = 45+6g

SyntaxError: invalid syntax (3291608174.py, line 1)

In [41]:
n = 45+6a

SyntaxError: invalid syntax (2064638547.py, line 1)

In [42]:
n = 45+6i

SyntaxError: invalid syntax (2874439101.py, line 1)

In [43]:
n = 45+6n

SyntaxError: invalid syntax (1200746732.py, line 1)

In [44]:
#only j works in complex nos
m = 5+2j

In [45]:
m

(5+2j)

In [46]:
type(m)

complex

In [47]:
n*m

(213+120j)

In [48]:
1+"Bilal"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [49]:
print(1+"Bilal")

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [50]:
 str(1)+"Bilal"

'1Bilal'

In [51]:
print(str(2)+"Bilal")

2Bilal

In [52]:
1+1.0

2.0

In [53]:
"Bilal" + "Bilal" + "Bilal"

'BilalBilalBilal'

In [54]:
"Bilal"*3

'BilalBilalBilal'

In [55]:
Bilal*3

NameError: name 'Bilal' is not defined

In [56]:
Bilal*Bilal

NameError: name 'Bilal' is not defined

In [57]:
"Bilal+Bilal"

'Bilal+Bilal'

In [58]:
int('34')

34

In [59]:
a=10

In [60]:
b = input("enter a integer ")

enter a integer 5

In [61]:
b

'5'

In [62]:
type(b)

str

In [63]:
x = int(input("enter a 1st integer "))
y = int(input("enter a 2nd integer "))
z = int(input("enter a 3rd integer "))

enter a 1st integer 6
enter a 2nd integer 7
enter a 3rd integer 8

In [64]:
x,y,z

(6, 7, 8)

In [65]:
o = (x+y)/z

In [66]:
o

1.625

In [67]:
d = o+(3+8j)

In [68]:
d

(4.625+8j)

In [69]:
type(d)

complex

In [70]:
k = str(d) + "Bilal"

In [71]:
k

'(4.625+8j)Bilal'

In [72]:
a = int(input('enter a number ' ))
if a < 34:
        print('number is less than 34 and i am satisfied with it.')
elif a <100:
    print('number is less than 100')
elif a <200:
    print('number is less than 200')    
    
else:
    print('invalid number')

enter a number 45
number is less than 100

In [73]:
salary = int(input('Enter Salary '))
if salary > 1000:
    print('buy a car')
    if salary < 5000:
        print("buy a house")
        if True:
            print('false code')
    elif salary < 10000:
        print("buy a bunglow")
    elif salary < 20000:
        print('buy a house in mumbai')
elif salary > 500:
    print("buy a bike")
elif salary > 100:
    print('house maintenance')
else:
    print('i will do nothing')

Enter Salary 6000
buy a car
buy a bunglow

In [74]:
a = 10
b = 20
if a == 10 and b < 20:
    print("it is a valid statement")
elif a == 10 and b <= 20:
    print("this statement is valid inside elif")
else:
    print("statement is not valid")

this statement is valid inside elif

In [75]:
a == 10 and b == 20

True

In [76]:
a == 10

True

In [77]:
b == 20

True

In [78]:
b > a

True

In [79]:
a < b

True

In [80]:
a > b

False

In [81]:
b < a

False

In [82]:
a = 10
b = 20

if a == 10 or b > 20:
    print("it is a valid statement")
elif a == 10 and b < 20:
          print("this statement is valid inside elif")
else:
          print("statement is not valid")

it is a valid statement

In [85]:

firstname = input("enter your first name ")
lastname = input("enter your last name ")

if firstname == "Bilal" and lastname == "Khan":
    print("name is correct")
else:
    print("wrong name")

enter your first name Bilal
enter your last name Khan
name is correct

In [86]:
initial_speed = 0
final_speed = 100
count = 1
while initial_speed< final_speed:
    print("this is my speed")
    count = count +1
    if count == 10 :
        break

this is my speed
this is my speed
this is my speed
this is my speed
this is my speed
this is my speed
this is my speed
this is my speed
this is my speed

In [87]:
i = 1
j = 5
while i < j:
    print(i)
    i = i +1

1
2
3
4

In [88]:
notes = 5
i = 1
j = 1
while i < notes:
    print(i)
    i += 1
else:
    while j < 2:
        print(i)
        j = j +1
    print("no 10 rs notes are available")

1
2
3
4
5
no 10 rs notes are available

In [89]:
s = 'my name is Bilal'

In [90]:
s

'my name is Bilal'

In [91]:
s(3)

TypeError: 'str' object is not callable

In [92]:
s[3]

'n'

In [93]:
s[3:10]

'name is'

In [94]:
s[3:10:1]

'name is'

In [95]:
s[3:10:3]

'nes'

In [96]:
s[3:10:2]

'nm s'

In [97]:
s

'my name is Bilal'

In [98]:
s[10:3]

''

In [99]:
s[10:3:1]

''

In [100]:
s[10:3:-1]

' si ema'

In [101]:
s[10:2:-2]

' iea'

In [102]:
s[::-1]

'laliB si eman ym'

In [103]:
s[2:-6]

' name is'

In [104]:
for i in s:
        print(i)

m
y

n
a
m
e

i
s

B
i
l
a
l

In [105]:
for i in s:
    if i == 's':
        print("i got s in string")
    print(i)

m
y

n
a
m
e

i
i got s in string
s

B
i
l
a
l

In [106]:
for i in s:
    print(i)
else:
    print("this is a else condition")

m
y

n
a
m
e

i
s

B
i
l
a
l
this is a else condition

In [107]:
for i in s:
    if i == "n":
        break
    print(i)
else:
    if i == 'l':
            print('last char was l')

    print('this is a else condition')

m
y

In [108]:
for i in s:
    if i == "n":
        continue
    print(i)
else:
    if i == 'l':
            print('last char was l')

    print('this is a else condition')

m
y

a
m
e

i
s

B
i
l
a
l
last char was l
this is a else condition

In [109]:
n = 7
for i in range(0,n):
    for j in range(0, i+1):
        print('+ ', end = "")
    print('\n')

+

+ +

+ + +

+ + + +

+ + + + +

+ + + + + +

+ + + + + + +

In [110]:
n = 7
for i in range(0, n):
    for j in range(0, i+1):
        print("+ ", end = "")
        
    print('\n')

+

+ +

+ + +

+ + + +

+ + + + +

+ + + + + +

+ + + + + + +

In [113]:
n = int(input("enter the digit "))

for i in range(n,0,-1):
    for j in range(n-i):
        print(" ", end = "")
        
    for j in range(2*i-1):
        print("*", end = "")
    print()

enter the digit 6
***********
 *********
  *******
   *****
    ***
     *

In [115]:
i = 0
n = 9
while i < n:
    print(' '*(n-i-1)+"* "*(i+1) )
    i = i+1

        *
       * *
      * * *
     * * * *
    * * * * *
   * * * * * *
  * * * * * * *
 * * * * * * * *
* * * * * * * * *

In [116]:
l = list[]

name = "Bilal"
phno = 475885858
addr = "ssxscscsc"

SyntaxError: invalid syntax (1586283009.py, line 1)

In [117]:
name, phno, addr = "Bilal", 475885858, "ssxscscsc"

In [118]:
l = ["Bilal", 475885858, "ssxscscsc"]

In [119]:
l

['Bilal', 475885858, 'ssxscscsc']

In [120]:
l[1]

475885858

In [121]:
l[0]

'Bilal'

In [122]:
l[2]

'ssxscscsc'

In [123]:
l

['Bilal', 475885858, 'ssxscscsc']

In [124]:
type(l)

list

In [125]:
l1=[]

In [126]:
type(l1)

list

In [127]:
l2 = list()

In [128]:
l2

[]

In [129]:
l = ["Bilal", 475885858, "ssxscscsc", True, [3,4,5,"dfg"], 45+4j, 3.758]

In [130]:
l

['Bilal', 475885858, 'ssxscscsc', True, [3, 4, 5, 'dfg'], (45+4j), 3.758]

In [131]:
l2 = ["ERG", 456, "dhfk"]

In [132]:
type(l2)

list

In [133]:
l2

['ERG', 456, 'dhfk']

In [134]:
[l]+[l2]

[['Bilal', 475885858, 'ssxscscsc', True, [3, 4, 5, 'dfg'], (45+4j), 3.758],
 ['ERG', 456, 'dhfk']]

In [135]:
for i in l:
    print(type(i))

<class 'str'>
<class 'int'>
<class 'str'>
<class 'bool'>
<class 'list'>
<class 'complex'>
<class 'float'>

In [136]:
for i in l:
    if type(i) == list:
        for j in i :
            print(type(j))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'str'>

In [137]:
for i in l:
    if type(i) == list:
        n = 0
        for j in i:
            if type(j) == int:
                n = n + j
        print(n)   
        
        
        print(type(j))

12
<class 'str'>

In [138]:
l[0:5]

['Bilal', 475885858, 'ssxscscsc', True, [3, 4, 5, 'dfg']]

In [139]:
l[8 : 3]

[]

In [140]:
l[6 : 1: -2]

[3.758, [3, 4, 5, 'dfg'], 'ssxscscsc']

In [141]:
l[80 : 3 : -1]

[3.758, (45+4j), [3, 4, 5, 'dfg']]

In [142]:
for i in range(4,50):
    print(i)

4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49

In [143]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [144]:
for i in range(4,10):
    print(i)

4
5
6
7
8
9

In [145]:
range(10)

range(0, 10)

In [146]:
len(l)

7

In [147]:
l(4:2:-1)

SyntaxError: invalid syntax (12238435.py, line 1)

In [148]:
lst = [3,4,5,6]

In [149]:
lst

[3, 4, 5, 6]

In [150]:
lst(3:2:-1)

SyntaxError: invalid syntax (1370892011.py, line 1)

In [151]:
lst[3:2:-1]

[6]

In [152]:
s = 'this is my full stack class'

In [153]:
s

'this is my full stack class'

In [154]:
for i in s:
    print(i)

t
h
i
s

i
s

m
y

f
u
l
l

s
t
a
c
k

c
l
a
s
s

In [155]:
for i in range(len(s)):
    print(s[i])

t
h
i
s

i
s

m
y

f
u
l
l

s
t
a
c
k

c
l
a
s
s

In [156]:
for i in range(len(s)):
    print(s[::-1])

ssalc kcats lluf ym si siht
ssalc kcats lluf ym si siht
ssalc kcats lluf ym si siht
ssalc kcats lluf ym si siht
ssalc kcats lluf ym si siht
ssalc kcats lluf ym si siht
ssalc kcats lluf ym si siht
ssalc kcats lluf ym si siht
ssalc kcats lluf ym si siht
ssalc kcats lluf ym si siht
ssalc kcats lluf ym si siht
ssalc kcats lluf ym si siht
ssalc kcats lluf ym si siht
ssalc kcats lluf ym si siht
ssalc kcats lluf ym si siht
ssalc kcats lluf ym si siht
ssalc kcats lluf ym si siht
ssalc kcats lluf ym si siht
ssalc kcats lluf ym si siht
ssalc kcats lluf ym si siht
ssalc kcats lluf ym si siht
ssalc kcats lluf ym si siht
ssalc kcats lluf ym si siht
ssalc kcats lluf ym si siht
ssalc kcats lluf ym si siht
ssalc kcats lluf ym si siht
ssalc kcats lluf ym si siht

In [157]:
len(s)

27

In [158]:
for i in s:
    print(len(s): -i)

SyntaxError: invalid syntax (2422442176.py, line 2)

In [159]:
s[0] = "x"

TypeError: 'str' object does not support item assignment

In [160]:
l = ["gbjn", 68787, True, 899.657, "vhghgj", 56+7j]

In [161]:
l[0] = "sud"

In [162]:
l

['sud', 68787, True, 899.657, 'vhghgj', (56+7j)]

In [163]:
s = "sudh" + "kumar"

In [164]:
s

'sudhkumar'

In [165]:
"sudh" + 3

TypeError: can only concatenate str (not "int") to str

In [166]:
"sudh" + "3"

'sudh3'

In [167]:
'sudh' + " kumar "

'sudh kumar '

In [168]:
"sudh" + str(3)

'sudh3'

In [169]:
"sudh" + [345, "kumar", 7, 8, 90.65]

TypeError: can only concatenate str (not "list") to str

In [184]:
"Bilal" * 6

'BilalBilalBilalBilalBilalBilal'

In [185]:
"Bilal " * 6

'Bilal Bilal Bilal Bilal Bilal Bilal '

In [186]:
s = "my name is"

In [187]:
s

'my name is'

In [188]:
s.find('m')

0

In [189]:
s.find("hdjdj")

-1

In [190]:
find location of 'name' in s

SyntaxError: invalid syntax (618737589.py, line 1)

In [191]:
s.find(3,6)

TypeError: must be str, not int

In [192]:
s(3,6)

TypeError: 'str' object is not callable

In [193]:
s(3)

TypeError: 'str' object is not callable

In [194]:
s[3]

'n'

In [195]:
s[3:6]

'nam'

In [196]:
s[3:7]

'name'

In [197]:
s = "the name of instructor 'sudh', the name of org ineuron"

In [198]:
s

"the name of instructor 'sudh', the name of org ineuron"

In [199]:
find location of first 'name' in s

SyntaxError: invalid syntax (2531094717.py, line 1)

In [200]:
s[4:8]

'name'

In [201]:
for i in range(s):
    print(s[4:8])

TypeError: 'str' object cannot be interpreted as an integer

In [202]:
s.find(i("name"))

TypeError: 'int' object is not callable

In [203]:
a = s.find("name")
for i in range(len("name")):
    print(a+i)

4
5
6
7

In [204]:
s.count("h")

3

In [205]:
s.count("the")

2

In [206]:
s = "the name of instructor 'sudh', the Name of org ineuron"

In [207]:
s

"the name of instructor 'sudh', the Name of org ineuron"

In [208]:
s.count("name")

1

In [209]:
#as it is a case sensitive so it will give count only for name, not for Name

In [210]:
s.split()

['the',
 'name',
 'of',
 'instructor',
 "'sudh',",
 'the',
 'Name',
 'of',
 'org',
 'ineuron']

In [211]:
s.split(",")

["the name of instructor 'sudh'", ' the Name of org ineuron']

In [212]:
#wherever there is a comma it will split from there

In [213]:
s.split("n")

['the ', 'ame of i', "structor 'sudh', the Name of org i", 'euro', '']

In [214]:
#wherever there is a n it will split there

In [215]:
s.split("na")

['the ', "me of instructor 'sudh', the Name of org ineuron"]

In [216]:
#wherever there is a n it will split there

In [217]:
type(s.split("na"))

list

In [218]:
s.upper()

"THE NAME OF INSTRUCTOR 'SUDH', THE NAME OF ORG INEURON"

In [219]:
s.lower()

"the name of instructor 'sudh', the name of org ineuron"

In [220]:
s.swapcase()

"THE NAME OF INSTRUCTOR 'SUDH', THE nAME OF ORG INEURON"

In [221]:
#swapcase convert lower case character into upper case character

In [222]:
"s".join(s)

"tshses snsasmses sosfs sisnssstsrsuscstsosrs s'sssusdshs's,s stshses sNsasmses sosfs sosrsgs sisnsesusrsosn"

In [223]:
" ".join(s)

"t h e   n a m e   o f   i n s t r u c t o r   ' s u d h ' ,   t h e   N a m e   o f   o r g   i n e u r o n"

In [224]:
reversed(s)

In [225]:
#reversed(s) by this we cannot get proper string, so we write it with list() i.e. list(reversed(s))

In [226]:
list(reversed(s))

['n',
 'o',
 'r',
 'u',
 'e',
 'n',
 'i',
 ' ',
 'g',
 'r',
 'o',
 ' ',
 'f',
 'o',
 ' ',
 'e',
 'm',
 'a',
 'N',
 ' ',
 'e',
 'h',
 't',
 ' ',
 ',',
 "'",
 'h',
 'd',
 'u',
 's',
 "'",
 ' ',
 'r',
 'o',
 't',
 'c',
 'u',
 'r',
 't',
 's',
 'n',
 'i',
 ' ',
 'f',
 'o',
 ' ',
 'e',
 'm',
 'a',
 'n',
 ' ',
 'e',
 'h',
 't']

In [227]:
for i in reversed(s):
    print(i)

n
o
r
u
e
n
i

g
r
o

f
o

e
m
a
N

e
h
t

,
'
h
d
u
s
'

r
o
t
c
u
r
t
s
n
i

f
o

e
m
a
n

e
h
t

In [228]:
s = " sudh "

In [229]:
s

' sudh '

In [230]:
s.strip()

'sudh'

In [231]:
s.lstrip()

'sudh '

In [232]:
s.rstrip()

' sudh'

In [233]:
s = "greeting from ineuron"

In [234]:
s

'greeting from ineuron'

In [235]:
s.replace("g", "s")

'sreetins from ineuron'

In [236]:
s.replace("g", "sdf")

'sdfreetinsdf from ineuron'

In [237]:
s.replace("gr", "s")

'seeting from ineuron'

In [238]:
s

'greeting from ineuron'

In [239]:
s.replace("greeting", "kumar")

'kumar from ineuron'

In [240]:
s[1] = "marku"

TypeError: 'str' object does not support item assignment

In [241]:
#immutability says that in the same location if I am able to relocate/modify it, then it is a mutable object, if 
#I am not able to do it, then it is a immutable object. String is a immutable object.

In [242]:
s.center(20,"b")

'greeting from ineuron'

In [243]:
s = "sudh"

In [244]:
s.center(20, "b")

'bbbbbbbbsudhbbbbbbbb'

In [245]:
s.center(20, " ")

'        sudh        '

In [246]:
s.center(20, "ty")

TypeError: The fill character must be exactly one character long

In [247]:
s.center(40, "*")

'******************sudh******************'

In [248]:
s = "sudh\tku\tmar"

In [249]:
s

'sudh\tku\tmar'

In [250]:
s.expandtabs()

'sudh    ku      mar'

In [251]:
a = "We all are a part of Full Stack"

In [252]:
a

'We all are a part of Full Stack'

In [253]:
a.lower()

'we all are a part of full stack'

In [254]:
a.count("a")

5

In [255]:
for i in range(1,31):
    if a[i] == "a":
        print(i)

3
7
11
14
28

In [256]:
a.replace("a", "ineuron")

'We ineuronll ineuronre ineuron pineuronrt of Full Stineuronck'

In [257]:
a.split()

['We', 'all', 'are', 'a', 'part', 'of', 'Full', 'Stack']

In [258]:
print(a.split())

['We', 'all', 'are', 'a', 'part', 'of', 'Full', 'Stack']

In [259]:
a.isupper()

False

In [260]:
s = "    SUDH"

In [261]:
s.isupper()

True

In [262]:
s.islower()

False

In [263]:
s.isspace()

False

In [264]:
x = " "

In [265]:
x.isspace()

True

In [266]:
s.isdigit()

False

In [267]:
y = "65758"

In [268]:
y.isdigit()

True

In [269]:
y.isdecimal()

True

In [270]:
s.endswith("d")

False

In [271]:
s.endswith("h")

False

In [272]:
s.endswith("H")

True

In [273]:
s.startswith(" ")

True

In [274]:
y.isalnum()

True

In [275]:
#alphanumeric means either one of aplhabet or numeric value

In [276]:
y.isalpha()

False

In [277]:
y.isnumeric()

True

In [278]:
g = "ert"

In [279]:
g.istitle()

False

In [280]:
h = "Thj"

In [281]:
h.istitle()

True

In [282]:
#title has first letter in caps(uppercase)

In [283]:
s = "this is my full stack class"

In [284]:
for i in s:
    print(i)

t
h
i
s

i
s

m
y

f
u
l
l

s
t
a
c
k

c
l
a
s
s

In [285]:
for i in range(1, len(s)):
    print(s[-i])

s
s
a
l
c

k
c
a
t
s

l
l
u
f

y
m

s
i

s
i
h

In [286]:
s = "sudh"
ch = len(s) -1
while ch >= 0:
    print(s[ch])
    ch = ch -1

h
d
u
s

In [287]:
name = "ineuron"
vowel = "AaEeIiOoUu"

for i in name:
    if i in vowel:
        print("{} is a vowel".format(i))
    else:
        print("{} is not a vowel".format(i))

i is a vowel
n is not a vowel
e is a vowel
u is a vowel
r is not a vowel
o is a vowel
n is not a vowel

In [288]:
"{} name is Bilal".format("my")

'my name is Bilal'

In [290]:
s = input("enter the string you want to check palindrome")
s1 = s[::-1]

if s == s1:
    print("it is same")
else:
    print("it is not same")

enter the string you want to check palindromeabiba
it is same

In [291]:
l =  ["Bilal", 568, 899, 90, [578.900, 6j+90, "hjgjjgkgk"]]

In [292]:
l[4]

[578.9, (90+6j), 'hjgjjgkgk']

In [293]:
l[3:0:-1]

[90, 899, 568]

In [294]:
s = "Sudh"
s = list(s)

In [295]:
l + s

['Bilal', 568, 899, 90, [578.9, (90+6j), 'hjgjjgkgk'], 'S', 'u', 'd', 'h']

In [296]:
l*6

['Bilal',
 568,
 899,
 90,
 [578.9, (90+6j), 'hjgjjgkgk'],
 'Bilal',
 568,
 899,
 90,
 [578.9, (90+6j), 'hjgjjgkgk'],
 'Bilal',
 568,
 899,
 90,
 [578.9, (90+6j), 'hjgjjgkgk'],
 'Bilal',
 568,
 899,
 90,
 [578.9, (90+6j), 'hjgjjgkgk'],
 'Bilal',
 568,
 899,
 90,
 [578.9, (90+6j), 'hjgjjgkgk'],
 'Bilal',
 568,
 899,
 90,
 [578.9, (90+6j), 'hjgjjgkgk']]

In [297]:
len(s)

4

In [298]:
len(l)

5

In [299]:
"sudh" in l

False

In [300]:
"Bilal" in l

True

In [301]:
9 and 5

5

In [302]:
#in and operation the precedence is given from left, so 9 is considered as 1, and the rest other things are 0,
#so 0 and 1 is always 0, this is the reason we got 5 in above operation.

In [306]:
9 or 5

9

In [307]:
#in or operation the precedence is given from left, so 9 is considered as 1, and the rest other things are 0,
#so 0 or 1 is always 1, this is the reason we got 9 in above operation.

In [308]:
s = " this is full stack class"
for i in range(1, -len(s)):
    print(s[-i])